<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer th:fragment="footer">
      <div class="container text-muted">
        <hr />
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Copyright 2020 Nick Pr&uuml;hs &middot;
            <a href="https://github.com/npruehs/personal-website" target="_blank">Source Code</a> &middot;
            <a href="/impressum">Impressum</a>
        </p>
      </div>
    </footer>
</body>
</html>
