<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <header th:replace="fragments/header :: header">
    </header>
    
    <main role="main">
        <div class="container">
	        <!-- Jumbotron -->
		    <div class="jumbotron text-center">
		        <h1 class="display-4">Nick Pr&uuml;hs</h1>
		        <p class="lead">Senior Software Engineer.</p>
		        <hr class="my-4">
		        <p>To learn more about my skills, take a closer look at my recent projects below.</p>
		        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		    </div>
		    
		    <!-- Cards -->
	        <div class="card-deck">
			        <div class="card">
	                    <img src="..." class="card-img-top" alt="...">
					    <div class="card-body">
					        <h5 class="card-title">Card title</h5>
					        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					        <a href="#" class="btn btn-primary">Go somewhere</a>
					    </div>
					</div>
	                <div class="card">
	                    <img src="..." class="card-img-top" alt="...">
	                    <div class="card-body">
	                        <h5 class="card-title">Card title</h5>
	                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                        <a href="#" class="btn btn-primary">Go somewhere</a>
	                    </div>
	                </div>
	                <div class="card">
	                    <img src="..." class="card-img-top" alt="...">
	                    <div class="card-body">
	                        <h5 class="card-title">Card title</h5>
	                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                        <a href="#" class="btn btn-primary">Go somewhere</a>
	                    </div>
	                </div>
			</div>
		</div>
    </main>
    
    <footer th:replace="fragments/footer :: footer">
	</footer>

    <div th:replace="fragments/scripts :: scripts">
    </div>
</body>
</html>
