<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <header th:replace="fragments/header :: header">
    </header>
    
    <main role="main">
        <div class="container">
	        <!-- Jumbotron -->
		    <div class="jumbotron text-center">
		        <h1 class="display-4">Nick Pr&uuml;hs</h1>
		        <p class="lead">Senior Software Engineer &middot; Hamburg, Germany</p>
		        <p><img src="img/npruehs.png" alt="Nick Pruehs" /></p>
		        <hr class="my-4">
		        <p>To learn more about my skills, take a closer look at my recent projects below.</p>
		        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
		    </div>
		    
		    <!-- Cards -->
		    <div class="card-deck">
		        <div class="col-md-4" th:each="projectData : ${projects}" th:include="fragments/project :: project" 
	                th:with="projectData=${projectData}">
				</div>
			</div>
		</div>
    </main>
    
    <footer th:replace="fragments/footer :: footer">
	</footer>

    <span th:replace="fragments/scripts :: scripts">
    </span>
</body>
</html>
