<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	
    <title>Nick Pr&uuml;hs</title>
</head>
<body>
    <header>
        <div class="container">
		    <!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">Nick Pr&uuml;hs</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Link</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
    </header>
    
    <main role="main">
        <div class="container">
	        <!-- Jumbotron -->
		    <div class="jumbotron text-center">
		        <h1 class="display-4">Nick Pr&uuml;hs</h1>
		        <p class="lead">Senior Software Engineer.</p>
		        <hr class="my-4">
		        <p>To learn more about my skills, take a closer look at my recent projects below.</p>
		        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		    </div>
		    
		    <!-- Cards -->
	        <div class="card-deck">
			        <div class="card">
	                    <img src="..." class="card-img-top" alt="...">
					    <div class="card-body">
					        <h5 class="card-title">Card title</h5>
					        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					        <a href="#" class="btn btn-primary">Go somewhere</a>
					    </div>
					</div>
	                <div class="card">
	                    <img src="..." class="card-img-top" alt="...">
	                    <div class="card-body">
	                        <h5 class="card-title">Card title</h5>
	                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                        <a href="#" class="btn btn-primary">Go somewhere</a>
	                    </div>
	                </div>
	                <div class="card">
	                    <img src="..." class="card-img-top" alt="...">
	                    <div class="card-body">
	                        <h5 class="card-title">Card title</h5>
	                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	                        <a href="#" class="btn btn-primary">Go somewhere</a>
	                    </div>
	                </div>
			</div>
		</div>
    </main>
    
    <!-- Footer -->
    <footer class="text-muted">
	  <div class="container">
	    <p class="float-right">
	      <a href="#">Back to top</a>
	    </p>
	    <p>Copyright 2020 Nick Pr&uuml;hs.</p>
	  </div>
	</footer>

    <!-- Twitter Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
